body {
    margin: 0;
    padding: 0;
    background-color: #1c578e;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  .container-sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .options {
    width: 80%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .options-label {
    margin-bottom: 10px;
  }
  
  .options-projection {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-bottom: 20px;
  }

  .translation-options{
      margin: 0 20px 0 0;
  }

  .options-sliders-container{
      display: flex;
      flex-direction: row;
  }
  
  .options-projection select {
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 10px;
  }
  
  .options-projection select:focus {
    outline: none;
  }
  
  .options-sliders {
    margin: 10px 20px 20px 0px;
    display: flex;
    width:200px;
  }
  .options-shade-radio {
    display: flex;
    flex-direction: row;
    margin: 10px 0 20px 0;
  }
  
  .options-shade-radio input {
    margin: 7px 0;
  }
  
  .shade-opt{
      margin: 0 20px 0 0; 
  }

  #help-btn {
    width: 130px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #4bb543;
    padding: 10px 0;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #help-btn:hover {
    background-color: rgb(236, 236, 236);
    color: #4bb543;
  }


  
  #default-btn {
    width: 130px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #cc320b;
    padding: 10px 0;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  #load-btn {
    width: 100px;
    text-align: center;
    background-color:cadetblue;
    padding: 10px 0;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #default-btn:hover {
    background-color: rgb(236, 236, 236);
    color: #cc320b;
  }
  

  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: none;
    width: 30%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .modal-header {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    border-bottom: 0.5px solid #ececec;
    padding: 10px 10px 0 10px;
  }
  
  .header {
    margin: 10px 10px 10px 10px;
  }
  
  .modal-body {
    height: 100%;
    padding: 10px 20px 20px 20px;
    overflow: auto;
  }
  
  .close {
    color: black;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .close:hover {
    color: #0e4580;
    text-decoration: none;
    cursor: pointer;
  }
  
  h3 {
    margin: 5px 0px 20px 0px;
    padding: 0;
    font-weight: normal;
  }
  
  ul {
    padding-left: 20px;
  }
  